.App {
    text-align: center;
}

body {
    background: #35dc9b;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}