#output .editable-text {
    background-color: white;
    border-radius: 5px;
    height: 20vh;
    line-height: 2;
    margin: 0 auto;
    padding: 10px 25px 10px 25px;
    text-align: justify;
    text-justify: inter-word;
    user-select: none;
    width: 86%;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#output .editable-text:hover {
    cursor: pointer;
    opacity: 70%;
}

#copied {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    z-index: 1000;
}

.copiedEffect {
    animation: rippleDrop .5s linear;
}

#ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    transform: scale(.8);
    position: absolute;
    opacity: 0;

}

.rippleEffect {
    animation: rippleDrop .5s linear;
}

.copiedEffect {
    animation: copiedDrop 1s ease;
}

@keyframes rippleDrop {
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes copiedDrop {
    50% {
        transform: scale(.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
