#output {
    position: relative;
    top: 200px;
}

.output-text {
    background-color: white;
    border-radius: 5px;
    line-height: 2;
    margin: 0 auto;
    padding: 30px 40px 30px 40px;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    user-select: none;
    white-space: pre-wrap;
    width: 77%;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.output-text:hover {
    background-color: #dfe6e9;
    cursor: pointer;
    /*opacity: 70%;*/
}

.snackbar {
    background-color: #32ff7e;
    border-radius: 5px;
    bottom: 30px;
    display: inline-block;
    font-weight: bold;
    left: 44%;
    padding: 16px;
    position: fixed;
    text-align: center;
    text-transform: capitalize;
    visibility: hidden;
    width: 10%;
    min-width: 80px;
    z-index: 10;
}

/* Snackbar animations */
.show {
    visibility: visible !important; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
